*{box-sizing: border-box}

.container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}

.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

/** 클래스 앞에 col-이라 붙은 모든 것은 아래와 같은 설정을 적용한다.**/
[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  
}

.col-1{
    width: 8.3333334%;
}

.col-2{
    width: 16.666667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.3333334%;
}

.col-5{
    width: 41.666667%;
}
.col-7{
    width: 50%;
}

.col-8{
    width: 58.3333334;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.333333334;
}

.col-11{
    width: 91.66666667;
}
.col-12{
    width: 100%;
}